<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<div class="navbar">
  <div class="html-container">
    <div class="html-section">
      <div class="html-project">
        <div class="navigation">
          <nav>
            <ul class="nav-type">
              <li><a href="#" class="active categories">Home</a></li>
              <div class="dropdown">
                <li><a class="active dropbtn">Categories</a></li>
                <div class="dropdown-content">
                  {{#each categories as |category|}}
                  <a href="category/{{category.id}}">{{category.name}}</a>

                  {{/each}}
                </div>
              </div>

              <div class="dropdown">
                <li><a class="active categories">Account</a></li>
                <div class="dropdown-content">
                        <a href={{create-items.handlebars}}>Create Item</a>
                        <button class="logoutbtn categories"><a id="logout">Logout</a></button>
              </div>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  {{#each categories as |category|}}
  <div class="column">
    <h2>{{category.name}}</h2>
    <a  href="/category/{{category.id}}">
    <div class="card" style="background-image: url({{category.thumbnail}});">
    </div>
    </a>

  </div>
  {{/each}}
</div>